@model Peintur.Models.Tableau

<div class="form-group row">
    @Html.LabelFor(model => model.Nom, new { @class = "control-label col-md-2" })
    @Html.TextBoxFor(model => model.Nom, new { @class = "form-control col-md-9", @readonly="" })
</div>

<div class="form-group row">
    @Html.LabelFor(model => model.Annee, new { @class = "control-label col-md-2" })
    @Html.TextBoxFor(model => model.Annee, new { @class = "form-control col-md-2", @readonly="" })
</div>

<div class="form-group row">
    @Html.LabelFor(model => model.Technique, new { @class = "control-label col-md-2" })
    @Html.TextBoxFor(model => model.Technique, new { @class = "form-control col-md-3", @readonly="" })
</div>

<div class="form-group row">
    @Html.LabelFor(model => model.Sujet, new { @class = "control-label col-md-2" })
    @Html.TextBoxFor(model => model.Sujet, new { @class = "form-control col-md-3", @readonly="" })
</div>

<div class="form-group row">
    @Html.LabelFor(model => model.Support, new { @class = "control-label col-md-2" })
    @Html.TextBoxFor(model => model.Support, new { @class = "form-control col-md-3", @readonly="" })
</div>

<div class="form-group row">
    @Html.LabelFor(model => model.Cadre, new { @class = "control-label col-md-2" })
    @Html.TextBoxFor(model => model.Cadre, new { @class = "form-control col-md-3", @readonly="" })
</div>

<div class="form-group row">
    @Html.LabelFor(model => model.Stockage, new { @class = "control-label col-md-2" })
    @Html.TextBoxFor(model => model.Stockage, new { @class = "form-control col-md-3", @readonly="" })
</div>

<div class="form-group row">
    @Html.LabelFor(model => model.Taille, new { @class = "control-label col-md-2" })
    @Html.TextBoxFor(model => model.Taille, new { @class = "form-control col-md-3", @readonly="" })
</div>

<div class="form-group row">
    @Html.LabelFor(model => model.Points, new { @class = "control-label col-md-2" })
    @Html.TextBoxFor(model => model.Points, new { @class = "form-control col-md-2", @readonly="" })
    <span class="control-label col-md-7">@Html.Raw(ViewBag.Prix)</span>
</div>

<div class="form-group row">
    @Html.LabelFor(model => model.Poids, new { @class = "control-label col-md-2" })
    @Html.TextBoxFor(model => model.Poids, new { @class = "form-control col-md-2", @readonly="" })
</div>

<div class="form-group row">
    @Html.LabelFor(model => model.Commentaires, new { @class = "control-label col-md-2" })
    @Html.TextAreaFor(model => model.Commentaires, new { @class = "form-control col-md-9", @readonly="" })
</div>
