@model Peintur.Models.Tableau

@Html.HiddenFor(model => model.Tableau_ID)

<div class="form-group row">
    @Html.LabelFor(model => model.Nom, htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control col-md-9" } })
    @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "offset-2" })
</div>

<div class="form-group row">
    @Html.LabelFor(model => model.Annee, htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.EditorFor(model => model.Annee, new { htmlAttributes = new { @class = "form-control col-md-2" } })
    @Html.ValidationMessageFor(model => model.Annee, "", new { @class = "offset-2" })
</div>

<div class="form-group row">
    @Html.LabelFor(model => model.Technique, htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.EditorFor(model => model.Technique)
</div>

<div class="form-group row">
    @Html.LabelFor(model => model.Sujet, htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.EditorFor(model => model.Sujet)
</div>

<div class="form-group row">
    @Html.LabelFor(model => model.Support, htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.EditorFor(model => model.Support)
</div>

<div class="form-group row">
    @Html.LabelFor(model => model.Cadre, htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.EditorFor(model => model.Cadre)
</div>

<div class="form-group row">
    @Html.LabelFor(model => model.Stockage, htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.EditorFor(model => model.Stockage)
</div>

<div class="form-group row">
    @Html.LabelFor(model => model.Taille, htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.EditorFor(model => model.Taille)
</div>

<div class="form-group row">
    @Html.LabelFor(model => model.Poids, htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.EditorFor(model => model.Poids, new { htmlAttributes = new { @class = "form-control col-md-2" } })
    @Html.ValidationMessageFor(model => model.Poids, "", new { @class = "offset-2" })
</div>

<div class="form-group row">
    @Html.LabelFor(model => model.Commentaires, htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.EditorFor(model => model.Commentaires, new { htmlAttributes = new { @class = "form-control col-md-9", maxlength = "32000" } })
    @Html.ValidationMessageFor(model => model.Commentaires, "", new { @class = "offset-2" })
</div>
