@model Peintur.Models.Tableau

@{
    ViewBag.Title = "Détail d'un tableau";
}

<h2>
    @ViewBag.Title
    <span class="float-right">
        @Html.ActionLink("«--", "Previous", new { id = Model.Tableau_ID })
        /
        @Html.ActionLink("--»", "Next", new { id = Model.Tableau_ID })
    </span>
</h2>
<br class="d-sm-none">

<div class="form-horizontal">
    @Html.Partial("_Display", Model)

    <div class="form-group row">
        <label class="col-form-label col-sm-2"></label>
        <div class="col-sm-10">
            @Html.ActionLink("Quitter", "Index", null, new { @class = "btn btn-outline-dark" })
            <span class="float-right">
                @Html.ActionLink("Modifier", "Edit", new { id = Model.Tableau_ID }, new { @class = "btn btn-sm btn-warning" })
                @Html.ActionLink("Effacer", "Delete", new { id = Model.Tableau_ID }, new { @class = "btn btn-sm btn-danger" })
            </span>
        </div>
    </div>
</div>
