@model IEnumerable<Peintur.Models.TableauIndex>

@{
    ViewBag.Title = "Liste des tableaux";
}

<h2>
    @ViewBag.Title (<span id="count">@Model.Count()</span>)
</h2>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="filter">Filtrer</span>
    </div>
    <input type="text" class="form-control table-filter" data-table="table" data-count="#count" placeholder="Texte pour filtrer..." aria-label="Filtre" aria-describedby="filter">
</div>

<div class="table-responsive-sm">
    <table class="table table-hover">

        <thead>
            <tr>
                <th scope="col" class="w-half">
                    @Html.DisplayNameFor(model => model.Nom)
                </th>
                <th scope="col" class="d-none d-sm-table-cell">
                    @Html.DisplayNameFor(model => model.Annee)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Technique)
                </th>
                <th scope="col" class="d-none d-sm-table-cell">
                    @Html.DisplayNameFor(model => model.Sujet)
                </th>
                <th class="d-print-none">
                    @Html.ActionLink("Ajouter", "Create", null, new { @class = "btn btn-sm btn-success" })
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="w-half">
                        @Html.ActionLink(item.Nom, "Details", new { id = item.Tableau_ID })
                    </td>
                    <td class="d-none d-sm-table-cell">
                        @Html.DisplayFor(modelItem => item.Annee)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Technique)
                    </td>
                    <td class="d-none d-sm-table-cell">
                        @Html.DisplayFor(modelItem => item.Sujet)
                    </td>
                    <td class="d-print-none">
                        @Html.ActionLink("Modifier", "Edit", new { id = item.Tableau_ID }, new { @class = "btn btn-sm btn-warning" })
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

@section JavaScript
{
    <script src="~/Scripts/table-filter.js"></script>
}
