@model IEnumerable<Peintur.Models.TableauPrix>

@{
    ViewBag.Title = "Liste des prix";
}

<h2>
    @(ViewBag.Title + " (" + Model.Count().ToString() + ")")
</h2>

<div class="table-responsive-sm">
<table class="table table-bordered table-striped table-hover">

    <thead class="bg-pink">
        <tr>
            <th scope="col" class="w-half">
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th scope="col" class="d-sm-none">
                @Html.DisplayNameFor(model => model.Points)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Technique)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Taille)
            </th>
            <th scope="col" class="d-none d-sm-table-cell">
                @Html.DisplayNameFor(model => model.Cadre)
            </th>
            <th scope="col" class="d-none d-sm-table-cell">
                @Html.DisplayNameFor(model => model.Points)
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td class="w-half">
                @Html.ActionLink(item.Nom, "Details", new { id = item.Tableau_ID })
            </td>
            <td class="d-sm-none">
                @Html.DisplayFor(modelItem => item.Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Technique)
            </td>
            <td>
                @item.Taille.Replace(" ", "")
            </td>
            <td class="d-none d-sm-table-cell">
                @(item.Cadre == "Non" ? "" : item.Cadre)
            </td>
            <td class="d-none d-sm-table-cell">
                @Html.DisplayFor(modelItem => item.Points)
            </td>
        </tr>
        }
    </tbody>

</table>
</div>