<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Peintur</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/site.css">
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="container body-content">

        @Html.Partial("_Navigation")

        @RenderBody()

        <footer>
            <p>&copy; @DateTime.Now.Year - Peintur</p>
        </footer>
    </div>

    @RenderSection("JavaScript", required: false)
    @StackExchange.Profiling.MiniProfiler.RenderIncludes()
</body>
</html>
