@model Peintur.Models.ParametreModel

@Html.HiddenFor(model => model.ID)

<div class="form-group row">
    @Html.LabelFor(model => model.Nom, new { @class = "col-form-label col-sm-2" })
    <div class="col-sm-3">
        @Html.TextBoxFor(model => model.Nom, new { @class = "form-control" })
    </div>
</div>

@if (Model.Complement != null)
{
    <div class="form-group row">
        @Html.LabelFor(model => model.Valeur, Model.Complement, new { @class = "col-form-label col-sm-2" })
        <div class="col-sm-2">
            @Html.TextBoxFor(model => model.Valeur, new { @class = "form-control" })
        </div>
    </div>
}
