@model Peintur.Models.ParametreModel

@{
    ViewBag.Title = "Liste des " + Model.Type + "s";
}

<h2>
    @(ViewBag.Title + " (" + Model.Parametres.Count().ToString() + ")")
</h2>


<table class="table table-bordered table-striped table-hover">

    <thead class="bg-pink">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            @if (Model.Complement != null)
            {
                <th>
                    @Model.Complement
                </th>
            }
            <th class="d-print-none">
                @Html.ActionLink("Ajouter", "Create", null, new { @class = "btn btn-sm btn-success" })
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.Parametres)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                @if (Model.Complement != null)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Valeur)
                    </td>
                }
                <td class="d-print-none">
                    @Html.ActionLink("Modifier", "Edit", new { id = item.ID }, new { @class = "btn btn-sm btn-warning" })
                    @Html.ActionLink("Supprimer", "Delete", new { id = item.ID }, new { @class = "btn btn-sm btn-danger" })
                </td>
            </tr>
        }
    </tbody>

</table>
